<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="/stylesheets/googleButton.css">

<div id="app" class="container">
    <h1 class="display-2" style="color:#111">Admin</h1> 
    
    <a href="/google"><div class="google-btn">
            <div class="google-icon-wrapper">
                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text"><b>Sign in with google</b></p>
    </div></a>

   

    {{#if user}}
        <p>You are logged in</p>
        <p>User: {{user.name}} </p>
        <p>email: {{user.email}} </p>
        <a href="/logout">Log out</a>
    {{else}}
        <p>Not logged in</p>
    {{/if}}

    
</div>