<div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img alt="HerStory" src="https://scontent.fgdl5-2.fna.fbcdn.net/v/t1.0-9/s960x960/87814318_4044707562209836_3750283451941519360_o.jpg?_nc_cat=105&ccb=2&_nc_sid=340051&_nc_eui2=AeHRQxEA3KLoFTc1Hr039KA6PctRLs2_99M9y1Euzb_307TFlPuABpgd_3vCLMluYk_s_DZJT8c-Q8iLVjDUQqn5&_nc_ohc=-v9LyYhC2tUAX95iPgF&_nc_ht=scontent.fgdl5-2.fna&tp=7&oh=fbdc092d8459bea41a8849e60100941a&oe=5FD6FB6B"  style="width: 300px; height: auto;">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h2>Evento con imágen.</h2>
                    <p style="white-space: pre-line;">HerStory es un evento gratuito abierto a todo el público, que tiene como objetivo empoderar a mujeres y niñas impulsando la innovación a través de la equidad de género.
                        Se ha demostrado una y otra vez que empoderar a las mujeres y niñas tiene un efecto multiplicador y ayuda a promover el crecimiento económico y el desarrollo a nivel mundial. HerStory busca promover este crecimiento en la comunidad de Nuevo León.
                        Herstory estará compuesto por:
                        -Ponencias
                        -Networking
                        -Talleres
                        -Diálogos
                        -Paneles
                        Estas actividades se encontrarán lideradas por mujeres que están haciendo historia en industrias como: Tecnología, literatura, política, salud, inclusión y equidad de género.</p>
                </div>
            </div>
        </div>
        <div class="card-footer">¿Te gustaría asistir? <a href="https://www.facebook.com/events/658334208248413">Visita la página del evento.</a></div>
  </div>
  <br>
  <div class="card">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-block px-2">
                    <h2>Evento Sin Imágen</h2>
                    <p>HerStory es un evento gratuito abierto a todo el público, que tiene como objetivo empoderar a mujeres y niñas impulsando la innovación a través de la equidad de género.
                        Se ha demostrado una y otra vez que empoderar a las mujeres y niñas tiene un efecto multiplicador y ayuda a promover el crecimiento económico y el desarrollo a nivel mundial. HerStory busca promover este crecimiento en la comunidad de Nuevo León.
                        Herstory estará compuesto por:
                        -Ponencias
                        -Networking
                        -Talleres
                        -Diálogos
                        -Paneles
                        Estas actividades se encontrarán lideradas por mujeres que están haciendo historia en industrias como: Tecnología, literatura, política, salud, inclusión y equidad de género.</p>
                </div>
            </div>
        </div>
        <div class="card-footer">¿Te gustaría asistir? <a href="https://www.facebook.com/events/658334208248413">Visita la página del evento.</a></div>  </div>