<div id="app" class="container-fluid">
    {{!-- <h1 class="display-2" style="color:#111">WISE</h1>  --}}

    <div class="row">

        <!-- Carrousel Section -->
        <div id="carouselSlides" class="carousel slide col-md-12" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="ConferenciaChips1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="ConferenciaInvestigación1.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="CallejeroTEC.jpg" alt="Third slide">
                </div>
            </div>
        </div>


        <div id="mainLogo" class="col-md-12 text-center" style="margin-top: 50pt;">
            <img src="WiSE_Logotipo.png" class="img-responsive center-block"
                style="height: auto; width: auto; max-height: 350px; max-width: 500px;">
        </div>
    </div>
    <!-- End of Section -->

    <!-- Quienes Somos Section -->

    <div class="row" style="margin-top: 50pt;  background-color:rgba(255, 255, 255, 0.726)">
        <div class="col-sm-12"  style="margin: 20pt 0pt">
            <center>
                <h1>QUIÉNES SOMOS</h>
            </center>
        </div>

        <div class="col-sm-4 list-group-item ">
            <center>
                <h2>Misión</h2>
            </center>
            <p>
                <li>Crear actividades innovadoras para las alumnas del campus, donde puedan conocer más temas alusivos a
                    su carrera y asimismo convivir con alumnas de diferentes generaciones. </li>
                <br>
                <li>Incentivar a las alumnas de preparatoria el interés por estudiar alguna profesión de índole
                    ingenieril y así lograr que ingrese un mayor número de alumnas en las carreras de ingeniería </li>

            </p>

        </div>
        <div class="col-sm-4 list-group-item">
            <center>
                <h2>Visión</h2>
            </center>
            <li>Llegar a ser el eje principal de vinculación con las alumnas de secundaria y preparatoria a las carreras
                de ingeniería. </li>
            <br>
            <li>Lograr ser la fuente principal de confianza para las alumnas del campus y así lleguen a integrarse al
                grupo WiSE. </li>
        </div>
        <div class="col-sm-4 list-group-item"  >
            <center>
                <h2>Objetivos</h2>
            </center>

            <li>Demostrar que tanto mujeres como hombres tienen las mismas capacidades para ejercer una profesión
                ingenieril.</li>
            <br>
            <li>Reconocer a todas las estudiantes de la EITI (Escuela de Ingeniería y Tecnologías de Información) y la
                EBA (Escuela de Biotecnología y Alimentos)</li>
        </div>

    </div>
    <!-- End of Section -->

    <!-- Patrocinadores Section -->

    <div class="row" style="margin-top: 50pt;text-align: center;">
        <div class="col-sm-12">
            <h1>PATROCINADORES</h1>
            <br>
            <br>
            <p>
                ¿Te gustaría ser nuestro patrocinador? ¡Envíanos correo a hola@quierodinero.com
            </p>

            <button class="button">
                Patrocinador
            </button>
        </div>
    </div>
    <!-- End of Section -->

    <!-- Salon de la Fama Section -->

     <div class="row" style="margin-top: 50pt; margin-bottom: 50pt; background-color:rgba(255, 255, 255, 0.726)">
        <div class="col-sm-12" style="text-align: center;">
            <br>
            <h1>SALÓN DE LA FAMA</h1>
        </div>

        <div class="col-sm-4" style=" border: 2px; border-radius: 5px">
            <br>
            <img src="TallerBiodisel.jpg" class="img-winners" alt="salonFama1">

        </div>
        <div class="col-sm-4" >
             <br>
            <img src="TallerBiodisel.jpg" class="img-winners" alt="salonFama2">
        </div>
        <div class="col-sm-4" style=" border: 2px; border-radius: 5px;">
            <br>
            <img src="TallerBiodisel.jpg" class="img-winners" alt="salonFama3">
        </div>

    </div>


</div>
<!-- End of Page -->