body{
    background-color: #f3f0ec;
    color: blueviolet;
}

.verticalHorizontal {
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}

