body { 
    padding-top: 98px; 
    /*background-color: #ffcfd4;*/
    background-color: #f9d6db;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #863264;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #DD406D;
}

li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.button{
background-color: #DD406D;
  border: none;
  color: white;
  text-align: center;
  text-decoration: navajowhite;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 16px 28px;

}

nav {
    background-color:#362c365e;
    
}

nav a{
    color: #ffe8ec; 
    text-align: left; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
    color: #BD4C90;
}

nav .img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

#carouselSlides {
    position: relative;

}

.carousel img{
    /*width: auto;*/
    height: 700px;
    width: 100%;
    object-fit: cover;
}

#mainLogo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 22%;
}